.red{
    background-color: red;
    color: white;
    padding: 1rem;
    margin: 4rem;
    border-radius: 8px;
    box-shadow: 4px 4px 20px rgb(0, 0, 0,0.1);
}
h1{
    text-align: center;
    font-size: 3vw;
    margin: 0.7rem 0rem;
}
p{
    padding: 0.5rem;
    font-size: 2vw;
}
.blue{
    background-color: blue;
    color: white;
    padding: 1rem;
    margin: 4rem;
    border-radius: 8px;
    box-shadow: 4px 4px 20px rgb(0, 0, 0,0.1);
}
h1{
    text-align: center;
    font-size: 3vw;
    margin: 0.7rem 0rem;
}
p{
    padding: 0.5rem;
    font-size: 2vw;
}
.yellow{
    background-color: yellow;
    color: white;
    padding: 1rem;
    margin: 4rem;
    border-radius: 8px;
    box-shadow: 4px 4px 20px rgb(0, 0, 0,0.1);
}
h1{
    text-align: center;
    font-size: 3vw;
    margin: 0.7rem 0rem;
}
p{
    padding: 0.5rem;
    font-size: 2vw;
}
.green{
    background-color: green;
    color: white;
    padding: 1rem;
    margin: 4rem;
    border-radius: 8px;
    box-shadow: 4px 4px 20px rgb(0, 0, 0,0.1);
}
h1{
    text-align: center;
    font-size: 3vw;
    margin: 0.7rem 0rem;
}
p{
    padding: 0.5rem;
    font-size: 2vw;
}